{% extends ('base.html.twig') %}

{% block content %}

     <div class="container">
         <div class="jumbotron">
             <h2 class="text-center">Welcome on Pokemon Battle</h2>
             <p>Log In or Create an Account to begin the experience</p>
             <p>Create your Pokemon and fight against other Trainer</p>
             <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
         </div>
     </div>

{% endblock %}
