{% extends ('base.html.twig') %}

{% block content %}

    <div class="container">
        <div class="container">
            <div class="jumbotron">
                <h2 class="text-center">Rules of Pokemon Battle</h2>
                <div>
                    <p class="text-center">Rule n°1: You do not talk about Pokemon Battle</p>
                    <p class="text-center">Rule n°2: You DO NOT talk about Pokemon Battle</p>
                </div>
                <p class="text-center">Create an account or log in with your username and password. Then, create your Pokemon (choose a name
                and a Pokemon type). Finally, choose an other Trainer and fight against him. Care about Strenght and
                Weakness of your Pokemon !</p>
            </div>
        </div>
    </div>

{% endblock %}
